@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-background: #FFFFFF;
  --color-foreground: #24292E;
  --color-card: #FFFFFF;
  --color-mat: #ffffff;
  --color-well: #F3F3F3;
  --color-popover: #FFFFFF;
  --color-popover-foreground: #24292E;
  --color-primary: #7867F6;
  --color-primary-foreground: #FFFFFF;
  --color-active: #DBD4FF;
  --color-active-foreground: #7867F6;
  --color-secondary: #F3F3F3;
  --color-secondary-foreground: #24292E;
  --color-muted: #8B99A4;
  --color-muted-foreground: #8B99A4;
  --color-destructive: #E11D48;
  --color-destructive-foreground: #FAFAFA;
  --color-action: #F2E5FF;
  --color-action-foreground: #7C65C1;
  --color-border: #F3F3F3;
  --color-input: #F3F3F3;
  --color-ring: #A5A5A9;
  --radius: 1rem;
}

@theme dark {
  --color-background: #242426;
  --color-foreground: #FFFFFF;
  --color-card: #242426;
  --color-mat: rgba(52, 41, 66, 0.50);
  --color-well: rgba(0, 0, 0, 0.10);
  --color-popover: #242426;
  --color-popover-foreground: #FFFFFF;
  --color-primary: #342942;
  --color-primary-foreground: #FFFFFF;
  --color-active: #342942;
  --color-active-foreground: #7C65C1;
  --color-secondary: #242426;
  --color-secondary-foreground: #FAFAFA;
  --color-muted: #7C8293;
  --color-muted-foreground: #7C8293;
  --color-destructive: #7D1A2C;
  --color-destructive-foreground: #FAFAFA;
  --color-action: #2A1F33;
  --color-action-foreground: #7C65C1;
  --color-border: rgba(52, 41, 66, 0.50);
  --color-input: #3f3042;
  --color-ring: #09090B;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family:
      'Inter',
      ui-sans-serif,
      system-ui,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji';
  }
  /* Firefox-only part */
  @-moz-document url-prefix() {
    .scrollbar-vert,
    .scrollbar-horz {
      scrollbar-color: #d1d5db99 #fff;
      scrollbar-width: thin;
    }
    @media (prefers-color-scheme: dark) {
      .scrollbar-vert,
      .scrollbar-horz {
        scrollbar-color: #423466 #17101f;
      }
    }
  }
  /* End Firefox-only part */
  /* Webkit-only part */
  .scrollbar-vert::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-horz::-webkit-scrollbar {
    height: 8px;
  }
  .scrollbar-vert::-webkit-scrollbar-thumb,
  .scrollbar-horz::-webkit-scrollbar-thumb {
    @apply bg-secondary;
    border-radius: 12px;
  }
  /* End Webkit-only part */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  @keyframes border-slide {
    from {
      stroke-dashoffset: 33;
    }
    to {
      stroke-dashoffset: -66;
    }
  }
  .animate-border-slide {
    animation: border-slide 5s linear infinite;
  }
}
